.list-group {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow:scroll;
}

#content-list{
    width: 600px;
    max-height: 530px;
}

#users-list{
    width: 330px;
    max-height: 110px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#info-list{
    width: 330px;
    max-height: 110px;
    margin-top: 0px;
}

#title-list {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 0px;
}