.list-group {
    overflow:scroll;
}

#content-list{
    margin-top: 20px;
    width: 600px;
    max-height: 530px;
}

#users-list{
    width: 330px;
    max-height: 110px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#info-list{
    width: 330px;
    max-height: 110px;
    margin-top: 0px;
}

#users {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#info {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.list-group-item.active {
    background-color: cadetblue;
    border-color: cadetblue;
}
